<section class="row">
  <div class="large-6 columns">
    <h3 class="subheader">Hello web chat</h3>
    <a href="#" onclick="changeName()">Change your name</a>
    <h5 class="subheader">Join a channel:</h5>
    <a href="/lobby/">#lobby</a>
    <a href="/feedback/">#feedback</a>
  </div>
</section>