<section class="row">
  <div class="large-6 columns">
    <h3 class="subheader"><a href="/">Hello</a> is a web chat</h3>
  </div>
</section>

<section class="row">
  <div class="large-6 columns">
    <h5 class="subheader">Join a channel:</h5>
    <p>
      <a href="/lobby/">#lobby</a>
      <a href="/feedback/">#hello</a>
    </p>
  </div>
</section>

<section class="row">
  <div class="large-6 columns">
    <h5 class="subheader">Commands:</h5>
    <p>
      <pre>/name Adrian</pre>
    </p>
  </div>
</section>

<section class="row">
  <div class="large-6 columns">
    <h5 class="subheader">Development:</h5>
    <a href="http://github.com/adrianlee/hello/">Github</a></br>
    <a href="/issues">Bugs & Issues</a>
  </div>
</section>