<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Hello World</title>
    <!-- Foundation -->
    <link rel="stylesheet" href="/foundation.min.css">
    <link rel='stylesheet' href='/style.css'>

    <script src="/vendor/zepto.js"></script>

    {{{block "stylesheets"}}}
  </head>

  <body>
    {{{body}}}

    <!-- Foundation -->
    <script src="/foundation.min.js"></script>

    {{{block "scripts"}}}
  </body>
</html>
